.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  background-color: #fff;
  border: 1px solid #fff;
  margin: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1 0 auto;
  max-width: 600px;
}

.card-header {
  color: #636e72;
  border-bottom: 2px solid #636e72;
}

.card-title {
  border-bottom: 2px dashed #636e72;
}

.card-separator {
  border-bottom: 2px dashed #636e72;
}

.card-body {
  padding: 30px;
  color: #636e72
}